<div class="container ml-4">
    <div>
        <div class="form-holder">              
            <div class="form-content">
                <div class="form-items">                        
                    {{ form_start(searchForm) }}
                    <div class="row">
                        <div class="col-3 mt-2">
                            {{ form_row(searchForm.motCles) }}
                        </div>
                        <div class="col-3 mt-2">
                            {{ form_row(searchForm.capacity) }}                                 
                        </div>
                        <div class="col-3 mt-4">
                            <button class="btn btn-outline-primary btn-lg mt-2">Recherche</button>
                        </div>
                    </div>
                    {{ form_end(searchForm) }}          
                </div>   
            </div>
        </div>
    </div>
    <hr>
</div>