{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}

  
    {{ include('_partials/header.html.twig') }}
    {{ include('_partials/navbar.html.twig') }}


<div class="container ml-1 mt-3">

    <h1>Conditions d'Utilisation des Informations Personnelles</h1>

    <p>Merci de prendre le temps de lire et de comprendre nos conditions d'utilisation des informations personnelles. Chez Loc'Event, nous accordons une grande importance à la confidentialité et à la sécurité de vos données personnelles.</p>

    <h4>Collecte d'Informations Personnelles</h4>

    <p>Nous collectons des informations personnelles lorsque vous interagissez avec notre site web, nos services, nos applications ou nos communications. Cela peut inclure des informations telles que votre nom, votre adresse e-mail, votre numéro de téléphone, etc. Nous collectons ces informations de manière légale et transparente.</p>

    <h4>Utilisation des Informations Personnelles</h4>

    <p>Nous utilisons vos informations personnelles pour fournir, améliorer et personnaliser nos services. Cela peut inclure la personnalisation de votre expérience utilisateur, l'envoi d'e-mails de confirmation, l'assistance clientèle, la communication marketing, etc. Nous ne partageons pas vos informations personnelles avec des tiers sans votre consentement explicite.</p>

    <h4>Protection des Informations Personnelles</h4>

    <p>Nous prenons des mesures pour protéger vos informations personnelles et garantir leur sécurité. Cela inclut la mise en place de mesures de sécurité techniques, administratives et physiques pour empêcher tout accès non autorisé, la perte, la divulgation ou la modification de vos informations.</p>

    <h4>Vos Choix et Vos Droits</h4>

    <p>Vous avez le droit de consulter, de corriger, de mettre à jour ou de supprimer vos informations personnelles à tout moment. Vous pouvez également choisir de ne pas recevoir nos communications marketing en désélectionnant cette option dans votre compte.</p>

    <h4>Modification de nos Conditions d'Utilisation des Informations Personnelles</h4>

    <p>Nous nous réservons le droit de modifier nos conditions d'utilisation des informations personnelles à tout moment. Toutes les modifications seront communiquées sur notre site web.</p>

    <h4>Contact</h4>

    <p>Si vous avez des questions ou des préoccupations concernant nos conditions d'utilisation des informations personnelles, veuillez nous contacter à l'adresse suivante : admin@locevent.com</p>

    <p>Merci de faire confiance à Loc'Event pour la protection de vos informations personnelles. Votre vie privée est importante pour nous.</p>

</div>


    {% endblock %}